<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <profiles>
    <profile>
      <id>cedar-development</id>
      <properties>
        <cedar.profile.dir>development</cedar.profile.dir>
      </properties>
    </profile>
    <profile>
      <id>cedar-production</id>
      <properties>
        <cedar.profile.dir>production</cedar.profile.dir>
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>cedar-${env.CEDAR_PROFILE}</activeProfile>
  </activeProfiles>

</settings>
